.house_card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 3rem;
  background: rgb(255, 255, 255, 0.75);
  cursor: pointer;
  &:hover {
    scale: 1.05;
  }
  &__left {
    width: 40%;
    height: 80%;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: flex-start;
    &__image_container {
      width: 80%;
      aspect-ratio: 1.3;
      &__image {
        width: 100%;
        height: 100%;
        border-radius: 3rem;
      }
    }
  }
  &__right {
    padding: 1rem;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    &__title_container {
      height: 30%;
      width: 100%;
      &__title {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        font-weight: 600;
      }
      &__subtitle {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
      }
    }
    &__description {
      height: 50%;
      width: 100%;
    }
    &__price {
      height: 20%;
      width: 100%;
      display: flex;
      align-items: center;
      &__title {
        font-size: 1.25rem;
        font-weight: 600;
        width: 50%;
        height: 100%;
      }
      &__price {
        font-size: 1.25rem;
        width: 50%;
        height: 100%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .house_card_container {
    height: 160px;
  }
}

@media screen and (min-width: 1200px) {
  .house_card_container {
    height: 200px;
  }
}
