.navbar_container {
  width: 100vw;
  height: 60px;
  color: white;
  background-color: #1A1C22;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  &__left {
    width: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 2rem;
    cursor: pointer;
  }
  &__right {
    width: 50%;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
    &__connected {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 7rem;
      font-size: 1.5rem;
      color: green;
      background-color: rgba(255,255,255, 0.2);
      border-radius: 1rem;
      height: 50px;
      width: 100px;
    }
    &__disconnected {
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 7rem;
        font-size: 1.5rem;
        color: #fff;
        background-color: rgba(255,255,255, 0.2);
        height: 50px;
        width: 100px;
    }
  }
  &__menu {
    margin-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(4px);
    &__hide {
      display: none;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      &__item {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 2rem;
        cursor: pointer;
        text-decoration: none;
        color: white;
        &:hover {
            text-decoration: underline;
        }
      }
    }
  }
}
