.landing_page_container {
    
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    &__banner {
        height: 100vh;
        width: 100vw;
        position: relative;
        &__img {
            background-image: url("https://d1jhj4fsmsos9e.cloudfront.net/uploads/submission/file/18981/Enigma_luxury_house_finish_original.jpg");
            width: 100%;
            height: 95%;
            background-size: cover;
            // background-position: center ;
        }
        &__text_box {
            background: rgb(255, 255, 255, 0.75);
            min-width: 480px;
            position: absolute;
            right: 2.5%;
            bottom: 0;
            height: 30%;
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 3rem;
            &__title {
                font-size: 2.25rem;
                font-weight: 700;
                width: 80%;
                display: flex;
                align-items: center;
                height: 40%;
            }
            &__body {
                font-size: 1.5rem;
                font-weight: 400;
                height: 60%;
                width: 80%;
            }
        }
    }
}

